---
import ShootingsLayout from "../../layouts/ShootingsLayout.astro";
import {getCollection} from 'astro:content';
import type EventCard from "../../components/models/EventCard";
const allShootings = await getCollection('shootings');
const cards: EventCard[] = allShootings.map(aPost => {
    return {slug: aPost.slug, ...aPost.data} as EventCard;
});
const dateOptions = {
    weekday: 'long',
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    hour: '2-digit',
    minute: 'numeric',
} as Intl.DateTimeFormatOptions;
const sortByDate = (a: EventCard, b: EventCard): number => {
    if (a.date < b.date)
        return -1;
    if (a.date > b.date)
        return 1;
    return 0;
}
---
<ShootingsLayout>
    <main class="shootings-list">
        <h1><span class="text-gradient">Histórico </span>de tiradas</h1>
        {cards.sort(sortByDate).map(card =>
                <>
                    <div class="event-card">
                        <h2><a href={`/shootings/${card.slug}`}>{card.title}</a></h2>
                        <div class="event-details">
                            <p><strong>Tipo de Arma:</strong> {card.gunType}</p>
                            <p><strong>Fecha y
                                Hora:</strong> {new Date(card.date).toLocaleDateString("es-ES", dateOptions)}</p>
                            <p><strong>Ubicación:</strong> {card.location}</p>
                            {card.siteURL &&
                                    <p><strong>Sitio Web:</strong> <a data-astro-prefetch href={card.siteURL}
                                                                      target="_blank" rel="noopener noreferrer"
                                                                      class="url-link">Clic aquí</a></p>}
                            {card.mapsURL && <p><strong>Google Maps:</strong> <a href={card.mapsURL} target="_blank"
                                                                                 rel="noopener noreferrer"
                                                                                 class="url-link">Clic aquí</a></p>}
                        </div>

                    </div>
                </>)}
    </main>
</ShootingsLayout>
<style>
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }

    .shootings-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .event-card {
        background-color: #23262d;
        color: white;
        padding: 20px;
        margin: 10px 0;
        border-radius: 10px;
        width: 80%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .event-card h2 a {
        color: rgb(var(--accent-light));
        text-decoration: none;
        border-bottom: 1px dashed rgba(var(--accent-light), 0.5);
    }

    .event-card h2 a:hover,
    .event-card h2 a:focus {
        text-decoration: underline;
    }

    .event-details {
        margin-top: 10px;
    }

    .tags-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin-top: 1.5rem;
    }

    .tag-chip {
        background-color: rgba(var(--accent-light), 0.2);
        border: 1px solid rgba(var(--accent-light), 0.5);
        border-radius: 15px;
        color: rgb(var(--accent-light));
        padding: 0.5rem 1rem;
        margin: 0.25rem;
        display: inline-block;
    }

    .telephone-link {
        color: rgb(var(--accent-light));
        text-decoration: none;
        border-bottom: 1px dashed rgba(var(--accent-light), 0.5);
    }

    .telephone-link:hover,
    .telephone-link:focus {
        text-decoration: underline;
    }

    .url-link {
        color: #2196F3; /* Blue color for URL links */
        text-decoration: none;
        border-bottom: 1px dashed rgba(33, 150, 243, 0.5);
    }

    .url-link:hover,
    .url-link:focus {
        text-decoration: underline;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>
